[
    {
        "username": "turudek998@gmail.com",
        "password": "@AR123456"
    },
    {
        "username": "pkea008@gmail.com",
        "password": "@Eaturudek08"
    },
    {
        "username": "4rdhan08@gmail.com",
        "password": "chinuran75"
    },
    {
        "username": "4rdhan008@gmail.com",
        "password": "chinuran75"
    },
    {
        "username": "dezfg55@gmail.com",
        "password": "@Eaturudek08"
    }
    {
        "username": "dfyine3344@gmail.com",
        "password": "@Eaturudek08"
    }
]

